.login-wrapper {
  margin-top: 80px;
  max-width: 384px
}

.login-button {
  margin-top: 30px;
}

.login-error {
  margin-top: 30px;
}

.user-name {
  margin-top: 20px;
}

.user-avatar {
}

.user-detail {
  margin-left: 40px;
  max-width: 240px;
  display: inline-block;
}

.profile-block {
  max-width: 700px;
}

.form-check-in {
  margin-left: 50px;
  display: inline-block;
  max-width: 200px;
}

.default-margin {
  margin-top: 10px
}

.records-today-label {
  display: inline;
}
