.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.instructor-item {
  margin-top: 10px;
  display: inline-block;
}

.instructor-item img {
  width: 160px;
  height: 160px;
  cursor: pointer;
}

.instructor-name {
  margin-top: 10px;
  cursor: pointer;
}

.login-wrapper {
  margin-top: 80px;
  max-width: 384px
}

.login-button {
  margin-top: 40px;
}

.login-error {
  margin-top: 40px;
}
